<!DOCTYPE html>
<html>
<head>
<title> Wifi Led Strip </title>
<meta name="viewpoint" content = "width = device-width, initial-scale = 1.0, minimum-scale = 1, maximum-scale = 1, user-scalable = no" /> <meta name="apple-mobile-web-app-title" content="Wifi Led" /> <meta name="apple-mobile-web-app-capable" content="yes" />  
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='Style.css') }}">
</head> <body>
    <table class="SetPoint" cellspacing="10" border="0">
        <tr>
            <td onClick="SendColour('255')" class="button" style="background-color: lightblue;">100%</td>
            <td onClick="SendColour('191')" class="button" style="background-color: lightblue;">75%</td>
        </tr>
        <tr>
            <td onClick="SendColour('155')" class="2ndrow button" style="background-color: lightblue;">60%</td>
            <td onClick="SendColour('100')" class="2ndrow button" style="background-color: lightblue;">40%</td>
        </tr>
        <tr>
            <td onClick="SendColour('50')" class="3rdrow button" style="background-color: lightblue;">20%</td>
            <td onClick="SendColour('13')" class="3rdrow button" style="background-color: lightblue;">5%</td>
        </tr>
        <tr>
            <td onClick="SendColour('0')" class="3rdrow button" style="background-color: lightblue;">off</td>
        </tr>        
    </table>
    <table class="Breatihng" cellspacing="10" border="0">
        <tr>
            <td onClick="SendBreath('255')" class="3rdrow button" style="background-color: lightblue;">breath 100%</td>
        </tr>
        <tr>
            <td onClick="SendBreath('155')" class="3rdrow button" style="background-color: lightblue;">breath 60%</td>
        </tr>
        <tr>
            <td onClick="SendColour('0')" class="3rdrow button" style="background-color: lightblue;">off</td>
        </tr>
    </table>
<script>
    function SendColour(ClickedBrightness) { 
    xhttp = new XMLHttpRequest();

    xhttp.open("GET", "?Bright=" + ClickedBrightness, false);
    xhttp.send();
}
</script>
<script>
    function SendBreath(ClickedBrightness) { 
    xhttp = new XMLHttpRequest();
    
    xhttp.open("GET", "?Breath=" + ClickedBrightness, false);
    xhttp.send();
    
}
</script>
</body>
</html>
